
<div class="body">
  <img src="https://thumbs.gfycat.com/ShyClumsyBichonfrise-max-1mb.gif"> 
  <div class="stage">
    
    <div class="row ">
      
        <p class="clr">Contact Us</p>
        <div class="col int mt-5">
          <input
            type="text"
            class="form-control"
            placeholder="First name"
            aria-label="First name"
          />
         
        </div>
        <div class="col int mt-5">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            aria-label="Last name"
          />
        </div>
        <div class=" mt-5">
            <input
              type="number"
              class="form-control"
              placeholder="Your number"
              aria-label="number"
            />
          </div>    
      </div>
      <a  (click)="opensweetalert()" >
        <span>Submit</span>
        <div class="liquid"></div>
      </a>
     
    

      </div>
    </div>

