<main class='wrapper'>
    <main class="site-main wrapper">
    <section class="inner-banner p0 wide">
    <div class="inner-banner__row clearfix">
    <div class="inner-banner__col right">
    <ul class="inner-banner__images js-banner-slider brand_container">
    <li class="inner-banner__image full_bg test" style="background-image: url('https://www.rivoligroup.com/application/files/cache/b04bb3f53a62f4c7babf55ffeb6cbd45.jpg') ; background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    left: 200px;">
    <div class="inner-banner__title">
    <h2 style="position: relative; left:30px">alaia</h2>
    </div>
    </li>
    </ul>
    <div class="inner-banner__features clearfix">
    <div class="inner-banner__features__col">
      <p>
        <p>Since its  founding in 1982 the Parisian Maison of Azzedine Alaia has grown a reputation for its originality and unique quality of design and craftmanship. The tradition of perfection and passion for the exceptional continues to dominate everything that comes from Maison Alaia. </p>
        
        <p>The unique sculptural  and  timeless approach to couture of Azzedine Alaia is again brought forward in the shapes and feminine frames of this newest eyewear collection.</p>
        
      
    </div>
    </div>
    </div>
    </div>
    
    </section>
    <section class="brand-categories parallax-text-parent">
    
    <div class="col-sm-6 left">
      <h3 class="h6">Products</h3>
    
      <nav>
        <ul><li class="cart">
          <a href="cart.html">
             Cart <span>0</span>
          </a>
      </li>
      </ul></nav>
      <section class="product">
        <div class="item">
          <img src="https://mobile.yoox.com/images/items/46/46666339VJ_14_r.jpg?impolicy=crop&width=387&height=490">
          <a   class="try-btn" id="alaia1">Try Now</a>
    <p class="type">pink alaia</p>
          <h6 class="price">$290</h6>
          <span></span>
          <button class="add-cart cart1">Add to cart</button>
          <input type="hidden" value="20" />
    
          
        </div>
        <div class="item">
          <img src="https://www.maison-alaia.com/46/46845992OP_999_f.jpg">
          <a   class="try-btn" id="alaia2">Try Now</a>
    <p class="type">black-orange alaia</p>
          <h6 class="price">$233.64</h6>
          <span></span>
          <button class="add-cart cart1">Add to cart</button>
          <input type="hidden" value="20" />
    
        </div>
        <div class="item">
          <img src="https://www.occhialando.eu/image/cache/data/kering_6/azzedine-alaia-aa0063s-003-orange-889652382654-1024x1024.jpg">
          <a  class="try-btn" id="alaia3">Try Now</a>
    <p class="type">orange alaia</p>     
     <h6 class="price">$345.89</h6>
          <span></span>
          <button class="add-cart cart1">Add to cart</button>
          <input type="hidden" value="20" />
    
        </div>
      </section>
      <script>let carts = document.querySelectorAll('.add-cart');
    
        let products = [ 
            {
                name: "pink alaia",
                tag: "pinkalaia",
                price: 15,
                inCart: 0
            },
            {
                name: "black-orange alaia",
                tag: "black-orangealaia",
                price: 290,
                inCart: 0
            },
            {
                name: "orange alaia",
                tag: "oranagealaia",
                price: 15,
                inCart: 0
            },
          
        ];
        
        for(let i=0; i< carts.length; i++) {
            carts[i].addEventListener('click', () => {
                cartNumbers(products[i]);
                totalCost(products[i]);
            });
        }
        
        function onLoadCartNumbers() {
            let productNumbers = localStorage.getItem('cartNumbers');
            if( productNumbers ) {
                document.querySelector('.cart span').textContent = productNumbers;
            }
        }
        
        function cartNumbers(product, action) {
            let productNumbers = localStorage.getItem('cartNumbers');
            productNumbers = parseInt(productNumbers);
        
            let cartItems = localStorage.getItem('productsInCart');
            cartItems = JSON.parse(cartItems);
        
            if( action ) {
                localStorage.setItem("cartNumbers", productNumbers - 1);
                document.querySelector('.cart span').textContent = productNumbers - 1;
                console.log("action running");
            } else if( productNumbers ) {
                localStorage.setItem("cartNumbers", productNumbers + 1);
                document.querySelector('.cart span').textContent = productNumbers + 1;
            } else {
                localStorage.setItem("cartNumbers", 1);
                document.querySelector('.cart span').textContent = 1;
            }
            setItems(product);
        }
        
        function setItems(product) {
            // let productNumbers = localStorage.getItem('cartNumbers');
            // productNumbers = parseInt(productNumbers);
            let cartItems = localStorage.getItem('productsInCart');
            cartItems = JSON.parse(cartItems);
        
            if(cartItems != null) {
                let currentProduct = product.tag;
            
                if( cartItems[currentProduct] == undefined ) {
                    cartItems = {
                        ...cartItems,
                        [currentProduct]: product
                    }
                } 
                cartItems[currentProduct].inCart += 1;
        
            } else {
                product.inCart = 1;
                cartItems = { 
                    [product.tag]: product
                };
            }
        
            localStorage.setItem('productsInCart', JSON.stringify(cartItems));
        }
        
        function totalCost( product, action ) {
            let cart = localStorage.getItem("totalCost");
        
            if( action) {
                cart = parseInt(cart);
        
                localStorage.setItem("totalCost", cart - product.price);
            } else if(cart != null) {
                
                cart = parseInt(cart);
                localStorage.setItem("totalCost", cart + product.price);
            
            } else {
                localStorage.setItem("totalCost", product.price);
            }
        }
        
        function displayCart() {
            let cartItems = localStorage.getItem('productsInCart');
            cartItems = JSON.parse(cartItems);
        
            let cart = localStorage.getItem("totalCost");
            cart = parseInt(cart);
        
            let productContainer = document.querySelector('.products');
            
            if( cartItems && productContainer ) {
                productContainer.innerHTML = '';
                Object.values(cartItems).map( (item, index) => {
                    productContainer.innerHTML += 
                    `<div class="product"><ion-icon name="close-circle"></ion-icon><img src="./images/${item.tag}.jpg" />
                        <span class="sm-hide">${item.name}</span>
                    </div>
                    <div class="price sm-hide">$${item.price},00</div>
                    <div class="quantity">
                        <ion-icon class="decrease " name="arrow-dropleft-circle"></ion-icon>
                            <span>${item.inCart}</span>
                        <ion-icon class="increase" name="arrow-dropright-circle"></ion-icon>   
                    </div>
                    <div class="total">$${item.inCart * item.price},00</div>`;
                });
        
                productContainer.innerHTML += `
                    <div class="basketTotalContainer">
                        <h4 class="basketTotalTitle">Basket Total</h4>
                        <h4 class="basketTotal">$${cart},00</h4>
                    </div>`
        
                deleteButtons();
                manageQuantity();
            }
        }
        
        function manageQuantity() {
            let decreaseButtons = document.querySelectorAll('.decrease');
            let increaseButtons = document.querySelectorAll('.increase');
            let currentQuantity = 0;
            let currentProduct = '';
            let cartItems = localStorage.getItem('productsInCart');
            cartItems = JSON.parse(cartItems);
        
            for(let i=0; i < increaseButtons.length; i++) {
                decreaseButtons[i].addEventListener('click', () => {
                    console.log(cartItems);
                    currentQuantity = decreaseButtons[i].parentElement.querySelector('span').textContent;
                    console.log(currentQuantity);
                    currentProduct = decreaseButtons[i].parentElement.previousElementSibling.previousElementSibling.querySelector('span').textContent.toLocaleLowerCase().replace(/ /g,'').trim();
                    console.log(currentProduct);
        
                    if( cartItems[currentProduct].inCart > 1 ) {
                        cartItems[currentProduct].inCart -= 1;
                        cartNumbers(cartItems[currentProduct], "decrease");
                        totalCost(cartItems[currentProduct], "decrease");
                        localStorage.setItem('productsInCart', JSON.stringify(cartItems));
                        displayCart();
                    }
                });
        
                increaseButtons[i].addEventListener('click', () => {
                    console.log(cartItems);
                    currentQuantity = increaseButtons[i].parentElement.querySelector('span').textContent;
                    console.log(currentQuantity);
                    currentProduct = increaseButtons[i].parentElement.previousElementSibling.previousElementSibling.querySelector('span').textContent.toLocaleLowerCase().replace(/ /g,'').trim();
                    console.log(currentProduct);
        
                    cartItems[currentProduct].inCart += 1;
                    cartNumbers(cartItems[currentProduct]);
                    totalCost(cartItems[currentProduct]);
                    localStorage.setItem('productsInCart', JSON.stringify(cartItems));
                    displayCart();
                });
            }
        }
        
        function deleteButtons() {
            let deleteButtons = document.querySelectorAll('.product ion-icon');
            let productNumbers = localStorage.getItem('cartNumbers');
            let cartCost = localStorage.getItem("totalCost");
            let cartItems = localStorage.getItem('productsInCart');
            cartItems = JSON.parse(cartItems);
            let productName;
            console.log(cartItems);
        
            for(let i=0; i < deleteButtons.length; i++) {
                deleteButtons[i].addEventListener('click', () => {
                    productName = deleteButtons[i].parentElement.textContent.toLocaleLowerCase().replace(/ /g,'').trim();
                   
                    localStorage.setItem('cartNumbers', productNumbers - cartItems[productName].inCart);
                    localStorage.setItem('totalCost', cartCost - ( cartItems[productName].price * cartItems[productName].inCart));
        
                    delete cartItems[productName];
                    localStorage.setItem('productsInCart', JSON.stringify(cartItems));
        
                    displayCart();
                    onLoadCartNumbers();
                })
            }
        }
        
        onLoadCartNumbers();
        displayCart();
        </script>
      <script type="text/javascript" src="main.js"></script>
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
     
      
     
  
 
    <script type="text/javascript" src="cart.js"></script>
    <script>
     document.getElementById('alaia1').onclick = function() { window.location.href = "/TryNow1.html?sku=aliexpress_steampunk_gold_pink";};
     document.getElementById('alaia2').onclick = function() { window.location.href = "/TryNow1.html?sku=frogskins_black_brown"; };
     document.getElementById('alaia3').onclick = function() {window.location.href = "/TryNow1.html?sku=latch_black_orange"; };
    
    </script>
   