<section>
  <div class="container"> 
    
      <h1 style="font-family: Segoe UI">    About <br> Lunettety</h1> 
      <img src="https://www.zennioptical.com/marketing/homepage/3tile/shop_by/shop_by_style.png">
      <p> <br><br><br>Lunettety is a platform  in which you can find and try diverse type 
      of products,<br> this platform will help you to find your dream 
      glasses for sure.<br>Lunettety has established a wide footprint, serving its<br> customers across the world offering a diverse of over 100 brands .</p>
    
      
  </div>
  <br><br><br> 
</section>

