<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img class="ggg"  src="/../../../assets/img/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Brands" routerLinkActive="active-link">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="cart" routerLinkActive="active-link"><i class="bi bi-cart"></i> Checkout({{itemCount()}})</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="log" routerLinkActive="active-link">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
