
<section class="background">
<div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="Type here to search for Brand ">
    <button class="search-btn" type="submit"><img class="image2" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png"></button>
</div>
<br><br><br><br> <br> <br><br><br><br>
<main class='wrapper'>
    


    <section class="brands offset-top parallax-text-parent">
        <div class="bg-text parallax-text">
            Brands
        </div>
        <div class="listing">
    <div class="brands__listing__container">
     <div class="tab-block clearfix">
     <div class="brands__listing__container__col left">
     <div class="tab-content">
    <div class="tab-pane active" id="list-section" role="tabpanel">
    <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">A</div>
    </div>
    <div class="brands__listing__col middle">
    <div class="brands__listing__alph clearfix">
    <ul>
    
    <li *ngFor="let brand of brands" click="routeWithData()"><a [routerLink]="[ '/brand',brand.id]">{{brand.name}}</a></li>
    
    
    
     </ul>
     </div>
     </div>
     </div>
     <app-adidas [brand]=brand></app-adidas>
    
      <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">B</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
     
    <li><a href="#">Balenciaga</a></li> 
    <li><a href="#"> Barton Perreira</a></li>
     <li><a href="#">Berluti</a></li>
     <li><a href="#">Bottega Veneta</a> </li>
    <li><a href="#">Boucheron</a> </li>
     <li><a href="#">Brioni</a></li>
     <li><a href="burberry.html">Burberry</a> </li>
    
    </ul>
     </div>
     </div>
     </div>
    <div class="brands__listing__row clearfix">
      <div class="brands__listing__col left">
    <div class="brands__letter">C</div>
    </div>
    <div class="brands__listing__col middle">
    <div class="brands__listing__alph clearfix">
     <ul>
    
     <li><a href="#">Cartier</a></li>
     <li><a href="#">Celine</a></li>
     <li><a href="#">Chloé</a> </li>
     <li><a href="#">Christian Dior</a></li>
     
     </ul>
     </div>
     </div>
     </div>
     <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
      <div class="brands__letter">D</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
    
    <li><a href="#">Diesel</a></li>
      <li><a href="Dior.html">Dior</a></li>
    <li><a href="#">Dolce&Gabbana</a></li>
    
    </ul>
     </div>
     </div>
    </div>
     <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">E</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
    <ul>
     <li><a href="#">Emporio Armani</a></li>
    
     </ul>
     </div>
     </div>
     </div>
     <div class="brands__listing__row clearfix">
    <div class="brands__listing__col left">
      <div class="brands__letter">F</div>
     </div>
    <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
      <li><a href="#">Fendi</a></li>
     <li><a href="#">FRED</a></li>
    
     </ul>
    </div>
      </div>
      </div>
      <div class="brands__listing__row clearfix">
        <div class="brands__listing__col left">
     <div class="brands__letter">G</div>
     </div>
      <div class="brands__listing__col middle">
    <div class="brands__listing__alph clearfix">
     <ul>
      <li><a href="#">Gant</a></li>
     <li><a href="gucci.html">Gucci Eyewear</a></li>
      <li><a href="#">Guess</a></li>
      </ul>
    </div>
     </div>
     </div>
    <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
    <div class="brands__letter">H</div>
     </div>
    <div class="brands__listing__col middle">
      <div class="brands__listing__alph clearfix">
     <ul>
     <li><a href="#">Harley-Davidson</a> </li>
     </ul>
     </div>
     </div>
    </div>
      <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
      <div class="brands__letter">L</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
      <li><a href="#">Longines Eyewear</a></li>
     </ul>
     </div>
     </div>
     </div>
      <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">M</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
    <li><a href="#">Masunaga</a></li>
     <li><a href="#">Maui Jim</a></li>
    <li><a href="#">Montblanc Eyewear</a></li>
     </ul>
      </div>
    </div>
    </div>
    <div class="brands__listing__row clearfix">
    <div class="brands__listing__col left">
    <div class="brands__letter">O</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
      <li><a href="#">Oakley</a></li>
     <li><a href="#">OMEGA Eyewear</a></li>
    
     </ul>
     </div>
     </div>
     </div>
     <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">P</div>
    </div>
    <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
    <ul>
    <li><a href="#">Prada</a></li>
    <li><a href="#">Puma</a></li>
    
     </ul>
      </div>
     </div>
      </div>
     <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">R</div>
     </div>
    
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
    <li><a href="ray ban.html">Ray Ban</a></li>
    
    </ul>
     </div>
     </div>
    </div>
     <div class="brands__listing__row clearfix">
      <div class="brands__listing__col left">
     <div class="brands__letter">S</div>
     </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
     <li><a href="#">Saint Laurent</a></li>
      <li><a href="#">Silhouette Eyewear</a></li>
    <li><a href="#">Skechers</a></li>
     <li><a href="#">Swarovski</a></li>
     
     </ul>
     </div>
    </div>
     </div>
     <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">T</div>
      </div>
    <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
     <li><a href="#">Timberland Eyewear</a></li>
    <li><a href="#">Tom Ford</a></li>
    
     </ul>
     </div>
    </div>
    </div>
     <div class="brands__listing__row clearfix">
     <div class="brands__listing__col left">
     <div class="brands__letter">V</div>
     </div>
    <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
    <li><a href="#">Vogue Eyewear</a></li>
     </ul>
    </div>
     </div>
    </div>
      <div class="brands__listing__row clearfix">
    <div class="brands__listing__col left">
      <div class="brands__letter">W</div>
      </div>
     <div class="brands__listing__col middle">
     <div class="brands__listing__alph clearfix">
     <ul>
     <li><a href="#">Web Eyewear</a></li>
     
     </ul>
     </div>
     </div>
    </div>
     </div>
     </div></div></div></div></div> 
     </section>     