<section>

  <br> <br> <br> <br> <br> <br> <br> <br>
    <div class="forms-out">
      <div class="forms-in">
        <div id="registration-page" class="hide">
          <button id="show-login">Sign In</button>
          <h3>Sign Up</h3>
          Email <br />
          <input type="email" id="registration-email" /><br />
          Confirm Email <br />
          <input
            type="email"
            id="registration-reemail"
            autocomplete="disable"
          /><br />
          Password <br />
          <input type="password" id="registration-password" /><br />
         <button id="register">Sign Up</button>
        </div>

        <div id="login-page">
          <button id="show-register">Sign Up</button>
          <h3>Sign In</h3>
          Email <br />
          <input type="email" id="login-email" /><br />
          Password <br />
          <input type="password" id="login-password" /><br />
          <p id="forgot-password">Forgot Password ?</p>
          <button id="login" >Sign In</button>
        </div>

        </div>
        </div>
      
        </section>