section{
  background-image: url('../../../assets/img/img.png');
  height: 850px;
  background-position: center top;
  background-size: cover;
}


.forms-out {
  
margin: 0 auto;
font-family: "Fira Sans", sans-serif;
padding: 15px 0;
}

.forms-in {
width: 93%;
margin: 0 auto;
color: white ;
padding: 15px 0;
}

.forms-in div {
padding: 30px 20px;
max-width: 350px;
margin: 0 auto;
background: rgba(0,0,0,0.3);
border-radius: 5px;
margin-bottom: 15px;
}

.forms-in h3 {
text-align: center;
}

.forms-in input {
border: none;
width: 100%;
margin-bottom: 15px;
padding: 10px;
box-sizing: border-box;
border-radius: 3px;
  border-bottom: 1px solid #158C51;
  outline:none;
  background: transparent;
  color: white;
}

.forms-in button {
border: none;
padding: 7px 20px;
background: #158C51;
color: white;
border-radius: 4px;
cursor: pointer;
font-weight: bold;
}

.forms-in button:hover {
opacity: 0.7;
}
 

.hide {
display: none;
}

#forgot-password {
text-align: center;
font-size: 13px;
cursor: pointer;
}

#forgot-password:hover {
opacity: 0.7;
color: #158C51;
}